name: variable and secrets
env: 
  WF_VAR: "workFlow level variable"
on:
  push:
jobs: 
  test_expression:
    name: job to test expression
    runs-on: ubuntu-latest
    if: (github.event_name == 'pull_request')
    env:
      aBoolean: ${{ false }}
      aNull: ${{ null }}
      aNumber: $ {{ 42 }}
      aString: This is string
      JOB_VAR: "Job level variable"
    steps:
      - name: test null
        if: ${{ env.aNull == null }}
        run: echo this variable is null    
      - name: test Boolean
        if: ${{ fromJSON(env.aBoolean) }}
        run: echo This job won't run as out variable value is false
      - name: contains function
        if: ${{ contains (env.aString,'This') }}
        run: |
          echo "Our string var contain the word this"
          echo "But here is a typo that will make this step fail"
      - name: Test status check and format function 
        if: ${{ failure() }} 
        env:
          FORMAT_VAR: ${{ format('Github {0} {1} {2}', 'action', 'is', ' awasome' ) }}
        run: |
          echo "this step runs a special script to clean up after the failed step"
          echo ${{ env.FORMAT_VAR }}
      - name: function and always status check 
        if: ${{ startsWith(env.aString, 'this') && always() }}
        run: sleep 60
      - name: test cancel status check 
        if: ${{ cancelled() }}
        run: echo "this job runs if a workflow is cancelled, is can also be used for clean-up scripts"
      - name: test variables
        id: stepvar
        env:
          STEP_VAR: "Step level variable"
        run: |
          echo ${{ github.actor }}
          echo $GITHUB_JOB
          echo $WF_VAR
          echo $JOB_VAR
          echo $STEP_VAR
          echo ${{ vars.CONF_VAR }}
          echo ${{ secrets.A_SECRET }}
